
<!DOCTYPE html>
<html>
<head>
<title>Form</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
li 
{ 
  display: inline-block; 
  zoom: 1;
  *display: inline;
}
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100;}
.bgimg {
  background-image: url('../static/images/nepal.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

</style>
</head>
<body>
    <nav class="bg-light border navbar navbar-expand-md navbar-light">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbar">
                        <ul class="navbar-nav me-auto mt-2" style = "color:white">
                            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="/form">  Form</a></li>
                            <li class="nav-item"><a class="nav-link" href="/research">  Resources</a></li>
                            <li class="nav-item"><a class="nav-link" href="/research">  Research</a></li>
                        </ul>
                </div>
            </div>
        </nav>


<body style= "background-color:black;">


<h1 style="color:blue; text-align:center; font-style:Times New Roman"> FORM</h1><hr>
<form action="results" method="POST" enctype="multipart/form-data" style="color:white;">

    <div>
      <label style="font-size:30px" for="country">Country</label>
      <input type="text" name="country" id="country" required>
  </div><br>
  <div>
     <div >
    <label style="font-size:30px" for="age">Age</label>
    <input type="number" name="age" id="age" min="1" max="200" step="1">
  </div><br>
    <label style="font-size:30px" for="City">City</label>
    <input type="text" name="City" id="City">
  </div><br>
   <div >
    <b style="font-size:30px">Ethnicity:</b>
    <div><br>
      <label for="White">White:</label>
      <input type="checkbox" name="ethnicity" value="white">
    </div><br>
    <div>
      <label for="Black">Black:</label>
      <input type="checkbox" name="ethnicity" value="black">
    </div><br>
	    <div>
      <label for="Asian">Asian:</label>
      <input type="checkbox" name="ethnicity" value="asian">
    </div><br>
	    <div>
      <label for="Hispanic">Hispanic:</label>
      <input type="checkbox" name="ethnicity" value="Hispanic">
    </div><br>
	    <div>
      <label for="Other">Other:</label>
      <input type="checkbox" name="ethnicity" value="Other">
    </div><br>
  </div>  


  <button type="reset" >Reset</button>
  <button type="submit">Submit</button>
</form>
</body>

</div>
</body>
</html>
