<!DOCTYPE html>
<html lang="en">
<head>
<link href="/static/styles.css" rel="stylesheet">
<title>CSS Template</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}



/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column {
    width: 100%;
  }
}
</style>
</head>
<body>


<div class="header">
  <h2>Header</h2>
</div>

<div class="row">
  <div class="column" style="background-color: #9A8F97;">Research</div>
  <div class="column" style="background-color:#C3BABA;">Resources</div>
  <div class="column" style="background-color: #B2B2B2;">Reflect</div>


<div class="footer">
  <p>Footer</p>
</div>

</body>
</html>


