{% extends "layout.html" %}

{% block title %}
  Research
{% endblock %}

{% block main %}

<h1>Diseases:</h1>
<p1>[1] https://pubmed.ncbi.nlm.nih.gov/22013359/

<br>
-Individuals in developing societies have to fight many infectious and contagious diseases whereas individuals in the developed world have to fight lifestyle diseases
- at a fundamental level, the same major battles
	- distress, disability, and premature death
	- against human exploitation and for human development and self-actualisation
	 - against callousness in regimes

<br>
<li>
Primary diseases
TB
Malaria
HIV/AIDS
Malnutrition
</li>

<h1>Poverty</h1>
Both income deprivation and optimism and capability deprivation as well
<br>

Faullty lifestyles and crippling stress

95% of 40 million victims of aids live in developing countries
<br>
28 million n frica alone
<br>
[2] https://www.psychiatrictimes.com/view/addressing-poverty-and-mental-illness
Individuals who experience poverty in thie lives are at risk of many mental health and developmental outcomes in their lives


<br>
[3] https://pubmed.ncbi.nlm.nih.gov/26772209/
<br>
[4] https://pubmed.ncbi.nlm.nih.gov/29986446/
<br>
[5] https://pubmed.ncbi.nlm.nih.gov/34670162/
<br>
[6] https://www.utmb.edu/act/warning-signs-and-red-flags-for-suicide
<br>
[7] https://www.apa.org/topics/anxiety#:~:text=Anxiety%20is%20an%20emotion%20characterized,certain%20situations%20out%20of%20worry.
 <br>
[8] https://link.springer.com/article/10.1007/s10903-016-0501-4
<br>
[9] https://bmcpsychiatry.biomedcentral.com/articles/10.1186/1471-244X-14-154
<br>
[10] https://www.sciencedirect.com/science/article/pii/S0272735807000360?casa_token=xn6-VlhZrLsAAAAA:MIpPALjYvCQgfc_y4iJe7PYBSd9bqFssoIq0bsuN2y1FR2ygnjh27ECgeptkdJVsf7HCnPsEcys
<br>
[11] https://www.nimh.nih.gov/health/topics/depression
<br>


[12] https://journals.sagepub.com/doi/full/10.1177/0706743719895342

<br>
[13] https://www.tandfonline.com/doi/full/10.1080/15562940802687207

<br>
[14] https://summit.sfu.ca/item/11389 

<br>
[15] https://link.springer.com/article/10.1007/s10654-013-9821-z

<br>
[16] https://mhanational.org/blog/when-it-depression-5-red-flags

<br>
[17] https://www.cdc.gov/tb/publications/factsheets/general/tb.htm#:~:text=Tuberculosis%20(TB)%20is%20a%20disease,they%20do%20not%20get%20treatment.

<br>
[18] https://www.who.int/news-room/fact-sheets/detail/tuberculosis
</p1>



<h1>Introduction:</h1>

<p2>Living in poverty places you at risk of a variety of diseases and mental health conditions [1]. In childhood, it is linked to lower school performance, worse cognitive and attention-related behavior, increased delinquency, and mental disorders linked to depression and anxiety [2]. In adulthood, poverty is linked with depression and anxiety but further with psychological distress and even suicide [2]. Recognizing if you have these issues is important and its okay to seek help. Below are detailed explanations and supports for consequential events that can occur via poverty.


  <h1>Anxiety</h1>
<br>
Definition:

An emotional disorder characrerized by tension, worriedness, and increased blood pressure [7]. There are many types of anxiety disorders: generalized disorder (GAD), panic disorder, social anxiety disorder, phobia-related disorders, etc. [7]. 
<br>
Impact:

Self harm can be consequent to anxiety an further, it increases the likelihood of cardiovascular disease and cancer [8]. Total indirect and direct costs associated with this disorder were 51 billion in 2003 [9]. Anxiety can cause severe financial issues and hinder ones quality of life. Anxiety can manifest in the form of social phobias that can cause issues with education prospects [9]. Divorce rates are also higher amogn those diagnosed with the disorder [9].
<br>

<h3 style="color:red">Red Flags:</h3>

There are a myriad of red flags for anxiety. These include [10]:
Being easily agitated when stressful scenarios arise
Being very concerned regularly
Having headaches and other pains
Being unable to regularly attend school
An increased amount of perfectionism and self-criticism
Being overly responsible and people pleasing; excessive concern over people being upset with them
<br>

<h1>Depression:</h1>
<br>
Definition:

Depression  is a disorder which causes severe symptoms affecting mood, thoughts, and how you handle daily activities, like sleeping, eating, or working.There are different types of depression [11]:
<br>
Major depression (symptoms of depression most of the time for at least 2 weeks that interfere daily activities), 
<br>
Persistent depressive disorder (less severe symptoms of depression that last much longer; at least 2 years)
<br>
Perinatal depression (females that experience major depression during pregnancy or after delivery aka postpartum depression)
<br>
Seasonal affective disorder (comes and goes with the seasons → start in late fall - early winter and stop during spring and summer)
<br>
Depression with symptoms of psychosis (severe form of depression → experiences psychosis symptoms like delusions or hallucinations)
<br>
Impact:
<br>
Healthcare costs are 3.5 times higher for depressed patients as opposed to those not suffering from any depressive disorders. [12] Studies indicate that depressive symptoms caused increased tensions and conflict among family members within immigrant families [13] Among immigrants, severe depression symptoms were associated with low self worth, decreased social support, and high rates of suicide ideation [13]. Common symptoms of depression that were found to be prevalent included lack of sleep, inability to conduct with daily tasks, inability to eat, loss of meaning in life, and suicidal tendencies [14]. Depression increases the risk of cardiovascular disease and further, the severity of cardiovascular disease was stronger for depressed individuals who were on antidepressants as opposed to depressed participants who were not [15]. 
</p2>


<h3 style="color: red">Red Flags:</h3>

<p3>
<br>
Things to look for when it comes to depression include [16]:
Unexplained aches in the body as well as pain
The inability for a person to concentrate
Having issues with sleep habits (disruptions)
A change in someone's appetite
Agitation and also moodiness

<br>
Suicide: 

<br>
The issue:

<br>
Suicide is the main cause of global disabilities and death around the world, and is becoming increasingly more prevalent [3]. The majority of these come as a result of psychiatric diseases and/or conditions such as depression, substance use, anxiety, and traumatic, eating, or personality-related disorders [4]. Beyond poverty, COVID-19 has also exemplified the tendency of suicidal thoughts and tendencies [5]. This comes as a result of:
Fear or misinformation about COVID-19
Being diagnosed with COVID-19 
low social support and even lower COVID-19-support 
Great exhaustion from frontline medical personnel 
Issues with sleep from academic/occupational pressures 
Poor Health conditions with hospital workers
In quarantine or lockdown during the pandemic
Feeling Lonely during the pandemic
Financial issues 
<br>

Impact:
<br>
Suicides account for 1.4% of premature deaths in the world and are 3 times more common in males than females [3]. Suicide rates have increased by 30% between 2000-2018 but have fortunately decreased in the years 2019 and 2020. However, despite this, suicide is still the 2nd most common cause of suicide among those who are aged 20-40 [3]. 
<br>
<h3 style="color:red">More Red Flags:</h3>
 
<br>
Red flags that you should watch out and look out for maybe in the form of verbal and/or social cues [1]. These can be in the form of:
<br>
Expressions of hopelessness
<br>
Expressions of anger
<br>
Expressions of feeling trapped
<br>
Alcohol and substance abuse
<br>
Isolation from others
<br>
Agitation and anxiety
<br>
Expressing that they want to hurt themselves
<br>
Discussing death and suicide
<br>

<br>
If you see or have these, please seek help. Call your local non-emergency police line or suicide hotline.


<h2>Tuberculosis</h2>

Definition:
<br>
Tuberculosis (TB) is a disease that is contagious through air and is caused by germs [17]. It usually affects an individual’s lungs but can further impact the brain, kidneys, and/or the spine [17]. 
<br>
Impact:
<br>
A total of 1.6 million people died from TB in 2021; it is the world’s 13th leading cause of death [18]. Further, 10.6 million people were affected by this disease in 2021, of which the majority group affected were women [18]. Fortunately, there was an 8.7% decline in TB funding in 2020, reaching levels from 2016.
<br>

<h3 style = "color:red">Red Flags</h3>

<br>
Symptoms to keep an eye out for are [17]:
<li>Weakness
Feelings of sickness
The loss of weight
Fever
Night sweats 
Coughing
Pain in the chest
Coughing up blood 
</li>
</p3>

{% endblock %}