{% extends "layout.html" %}

{% block title %}
  Resources
{% endblock %}

{% block main %}

<body>
 
  <h1>General Resources</h1>
  <div>Foodbanks</div>
  <li>{% for foodbank in resource_list[0] %}</li>
  {% endfor %}
  <div>Charities</div>
  <li>{% for charities in resource_list[1] %}</li>
  {% endfor %}
  

  <h1>Job Resources</h1>
  <section>Job Postings
    <div><li>{% for job_postings in resource_list[2] %}</li></div>
    {% endfor %}
    <div>Career Workshops</div>
    <div><li>{% for career_workshops in resource_list[3] %}</li></div>
    {% endfor %}
  </section>
  
  <h1>Acadameic Resources</h1>
  <section>Scholarships
  <div><li>{% for Scholarships in resource_list[4] %}</li></div>
  {% endfor %}
  <div>Tutoring Workshops</div>
  <div><li>{% for tutoring_workshops in resource_list[5] %}</li></div>
  {% endfor %}
  </section>
  
  <h1>Mental Health Resources</h1>
  <section>Mental Health Resources
  <div><li>{% for mental_health_resources in resource_list[6] %}</li></div>
  {% endfor %}
  <div>Suicide Hotline</div>
  <div><li>{% for suicide_hotline in resource_list[7] %}</li></div>
  {% endfor %}
  </section>

</body>
{% endblock %}