{% extends "layout.html" %}

{% block title %}
  Resources
{% endblock %}

{% block main %}

<body>
 
  <h1>General Resources</h1>
  <div><h3>Foodbanks</h3></div>
  <li>{% for foodbank in resource_list[0] %}</li>
  <li><a href={{ foodbank }}>{{ foodbank}}</a></li>
  {% endfor %}
  <div><h3>Charities</div>
  <li>{% for charities in resource_list[1] %}</li>
    <li><a href={{ charities }}>{{ charities}}</a></li>
  {% endfor %}
  

  <h1>Job Resources</h1>
  <section><h3>Job Postings</h3>
    <div><li>{% for job_postings in resource_list[2] %}</li></div>
      <li><a href = {{ job_postings }}>{{ job_postings}}</a></li>
    {% endfor %}
    <div><h3>Career Workshops</h3></div>
    <div><li>{% for career_workshops in resource_list[3] %}</li></div>
      <li><a href={{ career_workshops }}>{{career_workshops}}</a></li>
    {% endfor %}
  </section>
  
  <h1>Acadameic Resources</h1>
  <section><h3>Scholarships</h3>
  <div><li>{% for Scholarships in resource_list[4] %}</li></div>
    <li><a href={{ Scholarships }}>{{ Scholarships}}</a></li>
  {% endfor %}
  <div><h3>Tutoring Workshops</h3></div>
  <div><li>{% for tutoring_workshops in resource_list[5] %}</li></div>
    <li><a href={{ tutoring_workshops}}>{{ tutoring_workshops}}</a></li>
  {% endfor %}
  </section>
  
  <h1>Mental Health Resources</h1>
  <section><h3>Mental Health Resources</h3>
  <div><li>{% for mental_health_resources in resource_list[6] %}</li></div>
    <li><a href={{ mental_health_resources }}>{{ mental_health_resources}}</a></li>
  {% endfor %}
  <div><h3>Suicide Hotline</h3></div>
  <div><li>{% for suicide_hotline in resource_list[7] %}</li></div>
    <li><a href={{ suicide_hotline }}>{{ suicide_hotline}}</a></li>
  {% endfor %}
  </section>

</body>
<footer>
  <div></div>
</footer>
{% endblock %}